aside {
    position: fixed;
    top: 0;
    left: 0;
}

.object-container {
    position: relative;
    color: white;
    background-color: rgba(46, 45, 45, 0.99);
    overflow-y: scroll;

    width: 480px;
    height: 100vh;
    padding: 1.5em;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 44px;
    height: 44px;
}

.close-button:hover {
    cursor: pointer;
}

.close-button img {
    width: 18px;
    height: 18px;
}

.header {
    padding: 1.25em 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
}

.header ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
    margin-bottom: 30px;
}

.header ol li {
    font-size: 15px;
    text-transform: uppercase;
    color: #919191;
}

.images {
    margin-bottom: 2em;
}

.images li {
    margin-bottom: 1em;
}

.images li + li {
    margin-bottom: 0;
}

img {
    border-radius: 0.5em;
    width: 100%;
}

li {
    list-style-type: none;
}

@keyframes open-animation {
    from {
        left: -480px;
    }
    to {
        left: 0;
    }
}

@keyframes close-animation {
    from {
        left: 0;
    }
    to {
        left: -480px;
    }
}
